NewHour/ParseKeys.plist
NewHourCloudCode/config/*
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.DS_Store
*.lock
*.mode1v3
*.mode2v3
*.moved-aside
*.o
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*.swp
*.xcuserstate
*~.nib
.DS_Store
.Trashes
build/
DerivedData/
dist/
MANIFEST
project.xcworkspace/
xcuserdata
xcuserdata/
